body {
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

#particles-js {
    height: 100%
}
h1 span{
    color: #40aa54;
}
.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #fafafa;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}
.RegisBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #fafafa;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    color: #000000;
    text-align: center;
    font-weight: 700;
}
h5 {
    margin: 0;
    padding: 0 0 20px;
    color: #40aa54;
    text-align: center
}
.forget a{
    margin-top: -10px;
    margin-bottom: 20px;
}
.loginBox input {
    width: 100%;
    margin-bottom: 20px
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #000;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid #40aa54
}

.inputBox {
    position: relative
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #40aa54;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

.RegisBox input {
    width: 100%;
    margin-bottom: 20px
}

.RegisBox input[type="text"],
.RegisBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #000;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.RegisBox input[type="text"]:hover,
.RegisBox input[type="password"]:hover {
    color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 0 5px rgba(0, 255, 0, .3), 0 0 10px rgba(0, 255, 0, .2), 0 0 15px rgba(0, 255, 0, .1), 0 2px 0 black
}

.RegisBox input[type="text"]:focus,
.RegisBox input[type="password"]:focus {
    border-bottom: 2px solid #40aa54
}

.inputBox {
    position: relative
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626
}

.RegisBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #40aa54;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.RegisBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}

.inputBox {
    position: relative
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626
}

.RegisBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #40aa54;
    color: #fff;
    border-radius: 20px;
    cursor: pointer
}

.RegisBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block
}
p{text-align: center;}
a:hover {
    color: #40aa54;
}
label {
    cursor:pointer;
    color: #40aa54;
}
#form-switch {
    display:none
  }
#register-form {
    display:none
}
#form-switch:checked~#register-form {
    display:block
}
#form-switch:checked~#login-form {
    display:none
}